
body {
    background-color: rgb(34, 32, 34);
    margin: 0px;
}

.navbar {
    z-index: 100;
    align-items: center;
    position: sticky;
    top: 0px;
}

header {
    grid-area: heading;
    text-align: center;
}

a {
    font-size: 3vh;
    line-height: 4.2vh;
    text-decoration: black;
    padding: 1px 0;
    text-align: center;
    background-color: #dfd6c5;
    color: black;
    display: inline-block;
    margin: .5vh;
    height: 5vh;
    width: 11vh;
    border-radius: 20px;
}

h1 {
    font-size: 80px;
    color: white;
    margin: 5px;
}

h3 {
    color: white;
    font-size: 25px;

}

.containerContact {
    position: relative;
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
        "heading heading heading heading heading"
        ". mainContact mainContact mainContact ."
    ;
}

.contactMain {
    background-color: rgb(34, 32, 34, 0.5);
    margin: 0vh;
    grid-area: mainContact;
    position: relative;
    top: 1vh;
    background-color: black;
    height: 80vh;
    border: 2px solid #dfd6c5;
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 4fr;
    grid-template-areas:
        ". contactHeader1 contactHeader1."
        ". contactHeader2 contactHeader2 ."
        "myAddress myAddress mySocials mySocials"
        "myEmail myEmail myNumber myNumber"
        "messageBox messageBox messageBox messageBox"
    ;
}

.contactHeader1 {
    grid-area: contactHeader1;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 4vh;
    margin: 1vh;
}

.contactHeader2 {
    grid-area: contactHeader2;
    color: white;
    text-align: center;
    margin-top: 0vh;
    padding: 1px;
    margin: 0vh;
    padding-bottom: .5vh;
}

.myAddress {
    grid-area: myAddress;
    border: 2px solid #dfd6c5;
    color: white;
}

.mySocials {
    grid-area: mySocials;
    border: 2px solid #dfd6c5;
    color: white;
}

.myEmail {
    grid-area: myEmail;
    border: 2px solid #dfd6c5;
    color: white;
}

.myNumber {
    grid-area: myNumber;
    border: 2px solid #dfd6c5;
    color: white;
}

.messageBox {
    height: auto;
    grid-area: messageBox;
    border: 2px solid #dfd6c5;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "input1 input2"
        "input3 input3"
    ;
}

.nameInput{
        grid-area: input1;
        border: 2px solid #dfd6c5;
}

.emailInput{
    grid-area: input2;
        border: 2px solid #dfd6c5;
}

.messageInput{
    grid-area: input3;
        border: 2px solid #dfd6c5;
}

p{
        text-align: center;
}