body{
    background-color: #0b0a0b;
}
header{
    text-align: center;
}
a {
    font-size: 3vh;
    line-height: 4.2vh;
    text-decoration: black;
    padding: 2px 0;
    text-align:center;
    background-color: #dfd6c5;
    color: black;
    display:inline-block;
    height: 5vh;
    width: 11vh;
    border-radius: 20px;
}